.root {
    border: 1px solid #e0e0e0;
    background-color: white;
    color: rgb(0 0 0 /60%);
    font-size: 0.9rem;
    position: sticky;
    top: 0;
    z-index: 1000;

    .container{
        max-width: 74rem;
        padding-inline: 1rem;
        margin: 0 auto;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr auto;
        position: relative;
        gap: 2rem;
    }

    .logo{
        width: 3rem;
        height: 3rem;
        fill: var(--primary-color);
    }

    .left{
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 1rem;

    }

    .right{
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    svg{
        height: 1.5rem;
        width: 1.5rem;
    }

    .toggle{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul{
        position: absolute;
        top: 5rem;
        border-radius: 3px;
        background-color: white;
        right: 1rem;
        border: 1px solid #e0e0e0;
        padding: 1rem;
        width: min(18rem, 100%);
        gap: 0.5rem;
        display: grid;
    }

    a{
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &:hover{
            color: black;
        }
    }

    .active{
        color: var(--primary-color);
    }

    @media screen and (width >= 1080px) {
        .left{
            grid-template-columns: auto 0.7fr 0.3fr;
        }

        .right{
            gap: 2rem;
        }

        ul a{
            flex-direction: column;
            gap: 0;
        }

        ul {
            position: relative;
            display: flex;
            width: auto;
            background-color: transparent;
            border: none;
            top: 0;
            right: 0;
            gap: 2rem;
            padding: 0px;
        }

        .toggle{
            display: none;
        }
    }

    .notifications{
        position: relative;

        .badge{
            position: absolute;
            top: -0.5rem;
            left: 0.5rem;
            border-radius: 50%;
            color: white;
            background-color: crimson;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.8rem;
            height: 1.2rem;
            width: 1.2rem;
        }
    }
}